extends layout

block content
  h1= title
  form(method="post", accept-charset="utf-8")
    h2= __("OPML")
    p
      textarea(name="opml")= opml
    h2= __("Page Monitor")
    p
      textarea(name="pagemonitor")= pagemonitor
    p
      button(type="submit")= __('Submit')
