extends layout

block content
  h1= title
  h2 #{__('Items')}
  each page, index in items
    div
      h3
        a(href="#item-"+index, data-toggle="collapse")
          | #{page.title} / #{page.origin}
      div(id="item-"+index, class="collapse", data-fetchurl=page.fetchUrl)
