extends layout

block content
  h1= title
  h2 #{__('Items')}
  each page in items
    div
      h3
        a(href=page.url)
          | #{page.title} / #{page.origin}
      p #{__('Updated: %s', page.date.toString())}
      p !{page.contents}
